* {
    margin: 0;
}

header {
    width: 100%;
    height: 50px;
    background-color: black;
    font-family: 'Sen', sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: black;
    padding: 0 50px;
    height: 100%;
    color: rgb(37, 52, 149);
}

.logo {
    font-size: 30px;
}

.logo-container {
    flex: 1;
}

.menu-container {
    flex: 6;
}

.menu-list {
    display: flex;
    list-style: none;
}

.menu-list-item {
    margin-right: 30px;
}

.menu-list-item.active {
    font-weight: bold;
}

.profile-container {
    flex: 2;
    display: flex;
    align-items: center;
}

#login-form {
    display: flex;
    background-color: black;
}

#login-username, #login-password {
    border: 0;
    background-color: black;
    color: rgb(37, 52, 149);
    font-family: 'Sen', sans-serif;
}

#login-username::placeholder, #login-password::placeholder {
    color: rgb(37, 52, 149);
    font-weight: bolder;
}

#login-username:focus, #login-password:focus {
    outline: none;
}

#login-submit-btn {
    font-family: 'Sen', sans-serif;
    border: 0;
    background-color: black;
    color: rgb(37, 52, 149);
    width: 60px;
}

#login-submit-btn:hover {
    font-weight: bolder;
    
}

.sidebar {
    width: 50px;
    height: 100%;
    background-color: black;
    color: rgb(37, 52, 149);
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}

.sidebar-icon {
    font-size: 20px;
    margin-bottom: 50px;
}

main {
    background-color: rgb(25, 35, 103);
    height: calc(100vh - 50px);
    margin-left: 50px;
    font-family: 'Roboto', sans-serif;
}

.movie-list-container {
    padding: 20px;
    height: 100%;
}

.movie-list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    height: 90%;
}

.movie-list-item {
    margin: 5px;
}

.movie-list-item:hover .movie-list-item-img {
    transform: scale(1.1);
}

.movie-list-item-img {
    width: 200px;
    height: 250px;
    object-fit: cover;
    transition: all 0.2s ease-in-out;
}